@mixin flex-align-justify($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin transition($property) {
  transition: $property .2s ease;
}

%clear-button {
  border: none;
  outline: none;
  background: transparent;
}

@mixin content-enter($number, $baseDelay) {
  $easing: cubic-bezier(.5, 0, .2, 1);
  $duration: 400ms;
  $delay: 80ms;

  animation: enter $duration $easing backwards;   

  @for $i from 1 through $number {
    &:nth-child(#{$i}) {
      animation-delay: calc(#{$baseDelay + ms} + #{$i} * #{$delay});
    }
  }
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(1rem) scale(0.6);
  }
}