@mixin flex-align-justify($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin transition($property) {
  transition: $property .2s ease;
}

%clear-button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

@mixin content-enter($number, $baseDelay) {
  $duration: 400ms;
  $delay: 80ms;

  animation: enter $duration $easing backwards;   

  @for $i from 1 through $number {
    &:nth-of-type(#{$i}) {
      animation-delay: calc(#{$baseDelay + ms} + #{$i} * #{$delay});
    }
  }
}

@mixin active-darken($color) {
  &:active {
    background: darken($color, 5%);
  }
}

@mixin hover-darken($color) {
  &:hover {
    background: darken($color, 5%);
  }
}

@mixin input {
  @extend %clear-button;
  cursor: auto;
  padding: 10px;
  border-radius: 2px;
  font-size: 1rem;
  background: $white;
  box-shadow: 0 0 10px $shadow-color;
  color: $font-color;

  ::placeholder {
    color: $font-color;
  }
}