$background-color: #FCFCFF;
$main-color: #666AFB;
$border-color: #EBF0F7;
$shadow-color: #e6e6e6;
$font-color: #9B9CB3;
$easing: cubic-bezier(.5, 0, .2, 1);

$priority-low: #63CBAC;
$priority-medium: #FFBB00;
$priority-high: #FF6262;
