$white: #ffffff;
$background-color: #FCFCFF;
// $main-color: #FF4954;
$main-color: #434096;
$list-background: #F8FBFF;
$border-color: #EBF0F7;
$shadow-color: #E6E6E6;
$font-color: #9B9CB3;
$badge-inactive: #C5C5C5;
$easing: cubic-bezier(.5, 0, .2, 1);

$priority-low: #2BC621;
$priority-medium: #FFA800;
$priority-high: #EB3E3E;
